@font-face {
      font-family: "CursiveFont";
      src: local("CursiveFont"),
       url("./fonts/CursiveFont1/font.ttf") format("truetype");
       font-weight: bold;
     }

@font-face {
      font-family: "Architext";
      src: local("Architext"),
       url("./fonts/Architext/architext.regular.ttf") format("truetype");
       font-weight: bold;
     }

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
